

  body {
    background-color: rgb(210,180,140);
     }

body {
  background-image: url("MyBackground.jpg);
}

  h1 {
   color: brown;
  }

  p {
    color: brown;
  } 

style="vertical-align: middle";


  

              


